// Custom styles
@import '@styles/colors';

// Mixins
@import './mixin.scss';

$dark-text-fill-color: #d1d5db;
$dark-shadow-field-color: #2cdfff;
$dark-shadow-error-field-color: #f87171;
$light-shadow-field-color: #2c8aff;

.shadow-field,
.focus-shadow-field:focus {
  @include input-shadow($light-shadow-field-color);
}

.dark .shadow-field,
.dark .focus-shadow-field:focus {
  @include input-shadow($dark-shadow-field-color);
}

.shadow-field-error,
.focus-shadow-field-error:focus {
  @include input-shadow($red);
}

.dark .shadow-field-error,
.dark .focus-shadow-field-error:focus {
  @include input-shadow($dark-shadow-error-field-color);
}

.dark .form-control > .inner > input:-webkit-autofill {
  -webkit-text-fill-color: $dark-text-fill-color;
}

.form-control {
  &.disabled {
    & > .inner {
      @apply bg-gray-100 dark:bg-gray-700;
    }

    & .input,
    & > .inner {
      @apply cursor-not-allowed;
    }
  }

  & > .inner {
    @apply min-h-[43px];

    & > input:-webkit-autofill,
    & > input:-webkit-autofill:hover,
    & > input:-webkit-autofill:focus,
    & > input:-webkit-autofill:active {
      @apply shadow-white dark:shadow-gray-800 shadow-[0_0_0_30px_inset];
    }

    & > .input {
      &.hide-arrows {
        &[type='number'] {
          -moz-appearance: textfield;
          appearance: textfield;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            @apply m-0;
          }
        }
      }
    }
  }
}

input[type='number'] {
  -moz-appearance: textfield !important;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
