.btn {
  @apply px-5;

  &.no-active:active {
    transform: none;
  } 

  &.scale:active {
    transform: scale(85%);
  }

  &:disabled {
    @apply opacity-60;

    &:active {
      transform: none;
    }

    &:after {
      content: ' ';
      @apply w-full h-full absolute cursor-not-allowed top-0 left-0 bottom-0 right-0;
    }
  }
}
