// Mixins
@import '@styles/colors';
@import '@styles/formField';
@import '@styles/mixins/select';

.multi-select {
  @include select-button('.multi-filter');

  & .options-selected {
    & .has-error {
      @apply border-red-600 dark:border-red-500;
      box-shadow: 0px 0px 8px -1px $red;
    }
  }

  & .wrapper-options {
    cursor: default;
    position: absolute !important;
    @apply w-full mt-1 top-[100%] z-[9999];

    & .checkbox-options,
    & .virtualized-checkbox-options > div {
      @include select-scrollbar;
      @apply bg-white dark:bg-gray-900 rounded-md w-full;
    }

    & .checkbox-option-item,
    & .virtualized-checkbox-option-item {
      @apply w-full text-left dark:bg-gray-900 border-gray-300 dark:border-gray-600;

      & > .checkbox-option {
        @apply py-3;
      }

      &:not(:last-of-type) {
        @apply border-b;
      }

      & > .checkbox-option,
      & > .virtualized-checkbox-option {
        word-break: normal;
        @apply bg-transparent cursor-default text-left w-full h-full font-poppins px-4 leading-snug;

        & label {
          @apply font-normal dark:text-gray-300 truncate;
        }

        & .inner,
        & > label {
          @apply cursor-pointer;
        }
      }
    }
  }

  &.searchable {
    & .wrapper-options {
      @apply md:top-[0%] md:mt-0;
    }
  }
}

.dark {
  & .multi-select {
    & .options-selected {
      & .has-error {
        box-shadow: 0px 0px 8px -1px $dark-shadow-error-field-color;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .multi-select {
    & input[type='checkbox'] {
      width: 1.15rem !important;
      height: 1.15rem !important;
    }
  }
}

@include mq-select-float-options(
  '.multi-select',
  '.checkbox-option',
  '.checkbox-option-item',
  '.checkbox-options',
  '.virtualized-checkbox-option',
  '.virtualized-checkbox-option-item',
  '.virtualized-checkbox-options'
);

@include mq-fix-width-select('.multi-select', '.checkbox-option', '.virtualized-checkbox-option');
