// Library styles
@import 'antd/dist/reset.css';
@import 'nprogress/nprogress.css';

// Tailwind styles
@tailwind base;
@tailwind components;
@tailwind utilities;

// Component Styles
@import '@components/Icon/styles.scss';
@import '@components/Button/styles.scss';
@import '@components/Loader/styles.scss';
@import '@components/Header/styles.scss';
@import '@components/Footer/styles.scss';
@import '@components/Checkbox/styles.scss';
@import '@components/InputError/styles.scss';
@import '@components/SwitchTheme/styles.scss';
@import '@components/SubmitButton/styles.scss';
@import '@components/InputText/styles/main.scss';

// Module Styles
@import '@modules/Home/components/Welcome/styles.scss';
@import '@modules/Auth/components/AppLogo/styles.scss';

// Layout Styles
@import '@layouts/AuthLayouts/AuthLayout/styles/main.scss';

@layer base {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  ::-webkit-scrollbar {
    width: 20px;

    &:vertical {
      width: 18px;
    }

    &:horizontal {
      height: 18px;
    }

    @media only screen and (max-width: 768px) {
      & {
        @apply hidden;
      }
    }
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#ffffff] dark:bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    @apply bg-gray-600 dark:bg-gray-400;

    &:hover {
      @apply bg-gray-400 dark:bg-gray-500;
    }
  }

  body {
    font-size: 0.88rem;
    font-family: 'Lato', sans-serif;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    @apply bg-gray-100;
  }

  .without-transform {
    &:active {
      transform: none !important;
    }
  }
}

.break-word {
  word-break: break-word;
}

.ant-input-number-handler-wrap {
  display: none !important;
}

html {
  @media only screen and (min-width: 1450px) {
    font-size: 18px;
  }

  @media only screen and (min-width: 2200px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 3400px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 640px) {
    font-size: 18px;
  }
}
