// Mixins
@import '@styles/colors';
@import '@styles/formField';
@import '@styles/mixins/select';

.select {
  @include select-button('.select-filter');

  & .option-selected {
    & .has-error {
      box-shadow: 0px 0px 8px -1px $red;
      @apply border-red-600 dark:border-red-500;
    }
  }

  & .wrapper-options {
    position: absolute !important;
    @apply w-full mt-1 top-[100%] z-[9999];

    &.to-bottom {
      @apply md:mt-0 #{!important};
      @apply md:top-[initial] #{!important};
      @apply md:bottom-[100%] md:mb-[1.85rem];
    }

    & .select-options,
    & .virtualized-options {
      @include select-scrollbar;
      @apply bg-white dark:bg-gray-900 rounded-md w-full;

      & .select-option,
      & .virtualized-option-item {
        @apply w-full text-left dark:text-gray-300 dark:bg-gray-900 border-gray-300 dark:border-gray-600;

        &:hover {
          & > .option,
          & > .virtualized-option {
            @apply bg-gray-200/80 dark:bg-gray-700;
          }
        }

        &:not(:last-of-type) {
          @apply border-b;
        }

        &:hover,
        &.active {
          & > .option,
          & > .virtualized-option {
            @apply text-blue-700 dark:text-sky-200;
          }
        }

        &.active {
          & > .option,
          & > .virtualized-option {
            @apply cursor-default bg-blue-500/10 dark:text-sky-100 dark:bg-sky-900;
          }
        }

        & > .option,
        & > .virtualized-option {
          word-break: normal;
          @apply bg-transparent text-left w-full block font-poppins px-4 leading-snug;
        }
      }
    }
  }

  &.searchable {
    & .wrapper-options {
      @apply md:top-[0%] md:mt-0;
    }
  }

  &:not(.select-filter) {
    & .option,
    & .virtualized-option {
      @apply py-[0.65rem];
    }

    & .search-options {
      font-size: 0.84rem;
    }
  }
}

.dark {
  & .select {
    & .option-selected {
      & .has-error {
        box-shadow: 0px 0px 8px -1px $dark-shadow-error-field-color;
      }
    }
  }
}

@include mq-select-float-options(
  '.select',
  '.option',
  '.select-option',
  '.select-options',
  '.virtualized-option',
  '.virtualized-option-item',
  '.virtualized-options'
);

@include mq-fix-width-select('.select', '.option', '.virtualized-option');
