.product-item {
  & .product-information {
    @apply w-full xl:w-[50%];

    & .inner-information {
      &::-webkit-scrollbar {
        @apply w-[16px];
      }
    }

    @media only screen and (max-width: 540px) {
      & .footer-content,
      & .inner-information {
        @apply px-3 mx-0;
      }
    }

    @media only screen and (max-width: 450px) {
      & .footer-content,
      & .inner-information {
        @apply px-2.5;
      }
    }

    & .seller {
      @apply mt-0 w-[68%] items-center;

      & .seller-fullname {
        @apply flex items-center gap-x-1;
      }

      & .seller-photo {
        &,
        & img {
          @apply w-[25px] h-[25px] min-w-[25px] min-h-[25px];
        }
      }
    }

    & .product-price {
      @apply mt-0 text-3xl text-left;
    }

    & .stock-tag {
      @apply w-full text-center justify-center rounded-[0.65rem] px-1 py-[0.3rem] max-w-[120px];
    }

    & .stars {
      & .star {
        @apply text-gray-200 dark:text-gray-600;

        &.active {
          &.normal-cursor {
            &,
            & .btn-star {
              @apply cursor-default;
            }
          }
        }

        &.active,
        &:not(.rating):hover,
        &:not(.rating):hover ~ .star {
          @apply text-yellow-500;
        }
      }
    }

    & .btn-contact-seller {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      @apply text-[1rem] rounded-[50px];

      & svg {
        @apply w-[21px] h-[21px] min-w-[21px] min-h-[21px];
      }

      @media only screen and (max-width: 300px) {
        @apply flex-wrap;
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        & svg {
          @apply w-[24px] h-[24px] min-h-[24px] min-w-[24px];
        }

        & span {
          @apply whitespace-normal mt-1;
        }
      }
    }

    & .pick-units {
      @apply w-[32%];

      & .form-control {
        & .inner {
          @apply min-h-[32px] max-h-[32px];
        }
      }
    }

    & .stars-container {
      @media only screen and (max-width: 640px) {
        @apply flex-wrap gap-y-1.5 mt-0 mb-5;

        & > .title {
          @apply text-[0.95rem] text-left leading-snug max-w-[initial];
        }

        & .stars,
        & > .title {
          @apply w-full;
        }
      }
    }

    & .units-wrapper {
      @media only screen and (max-width: 640px) {
        @apply flex-col flex-col-reverse gap-y-3;

        & .seller,
        & .pick-units,
        & .form-control {
          @apply w-full;
        }

        & .pick-units > button,
        & .form-control .inner {
          @apply min-h-[40px] max-h-[40px];
        }

        & .seller {
          @apply flex-nowrap;

          & .seller-fullname {
            @apply flex-wrap;
          }

          & .seller-photo {
            &,
            & img {
              @apply w-[30px] h-[30px] min-h-[30px] min-w-[30px];
            }
          }
        }
      }

      @media only screen and (max-width: 400px) {
        & .seller {
          @apply items-start;

          & .seller-fullname {
            & > * {
              width: 100%;
            }
          }

          & .seller-photo {
            @apply mt-0.5;
          }
        }
      }

      @media only screen and (max-width: 280px) {
        & .seller {
          @apply py-2.5 flex-wrap;

          & .seller-photo {
            @apply mx-auto mt-0;

            &,
            & img {
              width: 32px !important;
              height: 32px !important;
              min-width: 32px !important;
              min-height: 32px !important;
            }
          }

          & .seller-fullname {
            @apply flex-wrap text-center;

            &,
            & > * {
              @apply w-full;
            }
          }
        }
      }
    }

    & .price-container {
      @media only screen and (max-width: 640px) {
        @apply mb-2;
      }

      @media only screen and (max-width: 540px) {
        @apply flex-col gap-y-2;

        & .stock-tag {
          @apply min-h-[40px] max-w-[initial];
        }

        & .product-price {
          @apply text-right mt-2;
        }

        & .stock-tag,
        & .product-price {
          @apply w-full;
        }
      }
    }
  }
}
