.product-item {
  & .product-information {
    @apply w-full md:w-[50%];

    @media only screen and (max-width: 540px) {
      @apply px-3;
    }

    @media only screen and (max-width: 450px) {
      @apply px-2.5;
    }

    & .seller {
      @apply mt-0 w-[68%] items-center;

      & .seller-fullname {
        @apply flex items-center gap-x-1;
      }

      & .seller-photo {
        &,
        & img {
          @apply w-[25px] h-[25px] min-w-[25px] min-h-[25px];
        }
      }
    }

    & .product-price {
      @apply mt-0 text-2xl text-left;
    }

    & .stock-tag {
      @apply w-full text-center justify-center rounded-[20px] p-1 max-w-[160px];
    }

    & .stars {
      & .star {
        @apply text-gray-200 dark:text-gray-600;

        &.active {
          &.normal-cursor {
            &,
            & .btn-star {
              @apply cursor-default;
            }
          }
        }

        &.active,
        &:not(.rating):hover,
        &:not(.rating):hover ~ .star {
          @apply text-yellow-500;
        }
      }
    }

    & .btn-contact-seller {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      @apply text-[1rem] rounded-[50px];

      & svg {
        @apply w-[21px] h-[21px] min-w-[21px] min-h-[21px];
      }
    }

    & .pick-units {
      @apply w-[32%];

      & .form-control {
        & .inner {
          @apply min-h-[32px] max-h-[32px];
        }
      }
    }

    & .stars-container {
      @media only screen and (max-width: 640px) {
        @apply flex-wrap gap-y-2.5;

        & > .title {
          @apply text-[0.95rem] text-left leading-snug max-w-[initial];
        }

        & .stars,
        & > .title {
          @apply w-full;
        }
      }
    }

    & .sub-item-container {
      @media only screen and (max-width: 640px) {
        word-break: break-word;
        @apply flex-wrap gap-y-1.5;

        &.items-2 {
          @apply mt-1.5;
        }

        & .sub-item {
          @apply w-full;
        }
      }
    }

    & .inner-wrapper {
      @media only screen and (max-width: 640px) {
        @apply flex-col flex-col-reverse gap-y-3;

        & .seller,
        & .pick-units,
        & .form-control {
          @apply w-full;
        }

        & .pick-units > button,
        & .form-control .inner {
          @apply min-h-[40px] max-h-[40px];
        }

        & .seller {
          & .seller-photo {
            &,
            & img {
              @apply w-[28px] h-[28px] min-h-[28px] min-w-[28px];
            }
          }
        }
      }

      @media only screen and (max-width: 450px) {
        @apply py-3;

        & .seller-photo {
          @apply mx-auto;

          &,
          & img {
            width: 32px !important;
            height: 32px !important;
            min-width: 32px !important;
            min-height: 32px !important;
          }
        }

        & .seller-fullname {
          @apply flex-wrap text-center;

          &,
          & > * {
            @apply w-full;
          }
        }
      }
    }

    & .price-container {
      @media only screen and (max-width: 540px) {
        @apply flex-col gap-y-2;

        & .stock-tag {
          @apply min-h-[40px] max-w-[initial];
        }

        & .product-price {
          @apply text-right;
        }

        & .stock-tag,
        & .product-price {
          @apply w-full;
        }
      }
    }
  }
}
