.main-header {
  & .main-navigation {
    &::-webkit-scrollbar {
      @apply hidden;
    }

    @media screen and (max-width: 1200px) {

    }

  }

  & .btn-login {
    transition: all linear 0.1s;

    &:hover {
      @apply text-pink-100;
    }

    // @media screen and (max-width: 1075px) {
    //   @apply px-2 rounded;

    //   & > span {
    //     @apply hidden;
    //   }
    // }
  }

  & .animate-circle-arrow-left {
    animation: slideLeft 0.5s ease infinite alternate;
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-2px);
    }
  }

  @media only screen and (max-width: 900px) {
    &.relative {
      @apply bg-pink-100;
    }

    & .home-welcome-top-wave {
      @apply max-h-[460px];

      & path {
        @apply fill-rose-200;
      }
    }

    & .main-inner-header {
      & .header-welcome {
        @apply sm:mt-[6.75rem] mt-[4.5rem] flex-wrap flex-col-reverse;

        & .header-inner-welcome {
          @apply mt-0 max-w-[600px];
        }

        & .header-welcome-image {
          @apply left-0 w-[400px] h-[300px] min-w-[400px] min-h-[300px];

          @media only screen and (max-width: 475px) {
            @apply w-[90%] h-[260px] min-w-[initial] min-h-[initial];
          }

          @media only screen and (max-width: 400px) {
            @apply w-full;
          }

          @media only screen and (max-width: 350px) {
            @apply h-[230px];
          }

          @media only screen and (max-width: 315px) {
            @apply h-[215px];
          }

          @media only screen and (max-width: 290px) {
            @apply h-[200px];
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    & .main-inner-header {
      @apply px-6;
    }
  }

  @media only screen and (max-width: 450px) {
    & .main-title {
      @apply text-[2.25rem];
    }

    & .welcome-message {
      @apply text-[1rem];
    }
  }

  @media only screen and (max-width: 375px) {
    & .main-title {
      @apply text-[2rem];
    }

    & .main-inner-header {
      @apply px-4;
    }
  }

  @media only screen and (max-width: 300px) {
    & .main-inner-header {
      @apply px-2.5;
    }
  }
}

@media only screen and (max-width: 900px) {
  .home-welcome-bottom-wave path {
    @apply fill-pink-100;
  }
}
