.pretty-loading {
  & > .text {
    animation: fade-animation linear 1s infinite;
  }

  & .custom-loader {
    animation: fade-animation linear 1s infinite;
  }

  & .custom-loader::before,
  & .custom-loader::after {
    content: '';
    grid-area: 1/1;
    --c: linear-gradient(currentColor 0 0);
    background: var(--c) 0 0, var(--c) 100% 0, var(--c) 100% 100%, var(--c) 0 100%;
    background-repeat: no-repeat;
    animation: l10-1 2s infinite linear, l10-2 2s infinite linear;
  }

  & .custom-loader::after {
    margin: 8px;
    transform: scale(-1);
  }

  @keyframes fade-animation {
    0% {
      opacity: 0.1;
    }

    30% {
      opacity: 0.75;
    }

    50% {
      opacity: 0.85;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes l10-1 {
    0% {
      background-size: 0 2px, 2px 0, 0 2px, 2px 0;
    }
    12.5% {
      background-size: 100% 2px, 2px 0, 0 2px, 2px 0;
    }
    25% {
      background-size: 100% 2px, 2px 100%, 0 2px, 2px 0;
    }
    37.5% {
      background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0;
    }
    45%,
    55% {
      background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    }
    62.5% {
      background-size: 0 2px, 2px 100%, 100% 2px, 2px 100%;
    }
    75% {
      background-size: 0 2px, 2px 0, 100% 2px, 2px 100%;
    }
    87.5% {
      background-size: 0 2px, 2px 0, 0 2px, 2px 100%;
    }
    100% {
      background-size: 0 2px, 2px 0, 0 2px, 2px 0;
    }
  }

  @keyframes l10-2 {
    0%,
    49.9% {
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    }
    50%,
    100% {
      background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    }
  }
}
