.latest-added-products {
  & .product-items {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &.drag {
      scroll-behavior: auto;
      @apply cursor-grab;

      & .product,
      & .product-item {
        @apply select-none pointer-events-none;
      }
    }

    & .product-item {
      &:first-of-type {
        @apply sm:ml-3;
      }

      &:last-of-type {
        @apply sm:mr-3;
      }
    }
  }
}
