.latest-added-products {
  & .shadow-left,
  & .shadow-right {
    @apply bg-white z-[999];
  }

  & .shadow-left {
    background: linear-gradient(to right, #e1e1e1, 35%, transparent);
  }

  & .shadow-right {
    background: linear-gradient(to left, #e1e1e1, 35%, transparent);
  }

  @media only screen and (max-width: 1024px) {
    & .shadow-left {
      background: linear-gradient(to right, #e1e1e1, 10%, transparent);
    }

    & .shadow-right {
      background: linear-gradient(to left, #e1e1e1, 10%, transparent);
    }
  }
}

.dark {
  & .latest-added-products {
    & .shadow-left {
      background: linear-gradient(to right, #636363, 35%, transparent);
    }

    & .shadow-right {
      background: linear-gradient(to left, #636363, 35%, transparent);
    }

    @media only screen and (max-width: 1024px) {
      & .shadow-left {
        background: linear-gradient(to right, #636363, 10%, transparent);
      }

      & .shadow-right {
        background: linear-gradient(to left, #636363, 10%, transparent);
      }
    }
  }
}
