@mixin pagination($item, $sectionContainer, $filtersContainer) {
  & #{$filtersContainer} {
    @media only screen and (max-width: 950px) {
      @apply flex-wrap;

      & .main-seeker,
      & .wrapper-buttons {
        @apply w-full;
      }

      & .btn-show-filters,
      & .btn-clear-filters {
        @apply w-[50%];
      }
    }
  }

  @media only screen and (max-width: 640px) {
    @apply pt-5;

    & #{$item} {
      @apply border-0 shadow-gray-300;
    }

    & .main-title {
      @apply dark:text-gray-200 dark:font-normal;
    }

    & .btn-show-filters,
    & .btn-clear-filters {
      @apply min-h-[48px];
    }

    & .btn-show-filters,
    & .btn-clear-filters {
      @apply text-gray-600 dark:font-normal;
    }
  }

  @media only screen and (max-width: 540px) {
    & .btn-show-filters,
    & .btn-clear-filters {
      width: 100% !important;
      @apply dark:bg-gray-900;
    }

    & .wrapper-buttons {
      @apply flex-wrap;
    }

    & #{$sectionContainer},
    & #{$filtersContainer} {
      @apply px-4;
    }
  }

  @media only screen and (max-width: 350px) {
    & #{$sectionContainer},
    & #{$filtersContainer} {
      @apply px-3;
    }
  }

  @media only screen and (max-width: 350px) {
    & #{$sectionContainer},
    & #{$filtersContainer} {
      @apply px-3;
    }
  }
}

@mixin productsPagination($listSelector, $sectionContainer, $filtersContainer) {
  @include pagination('.product', $sectionContainer, $filtersContainer);

  & #{$sectionContainer} {
    @apply 2xl:px-[3rem];
  }

  & .main-title-container {
    & .main-title {
      @apply sm:text-white font-normal dark:text-rose-200 dark:sm:text-gray-800 dark:font-semibold;
    }
  }

  & #{$listSelector} {
    @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-x-1.5 gap-y-2 flex-wrap;

    & .product {
      max-width: initial !important;
      min-width: initial !important;
    }

    @media only screen and (min-width: 373px) and (max-width: 768px) {
      @apply grid-cols-2;
    }
  }
}
