@mixin select-button($filterClass) {
  & .search-options {
    @apply mb-1.5;
  }

  &:not(#{$filterClass}):disabled {
    @apply opacity-100 bg-gray-100 dark:bg-gray-700;
  }

  & .btn {
    @apply min-h-[43px] w-full justify-between pl-4 pr-[0.87rem] flex-nowrap bg-white py-0 flex-row-reverse dark:bg-gray-900 dark:text-gray-300;

    & > span {
      @apply truncate;
    }

    & > .icon > svg {
      @apply text-gray-500 dark:text-gray-400 dark:text-gray-300;
    }

    & > .icon.sort-icon > svg {
      @apply w-[15px] h-[15px];
    }

    &:active {
      transform: none;
    }
  }
}

@mixin select-scrollbar {
  &::-webkit-scrollbar {
    @apply bg-gray-100;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-400/80;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}

@mixin mq-select-float-options(
  $selectSelector,
  $optionSelector,
  $liOptionSelector,
  $optionsSelector,
  $virtualizedOptionSelector,
  $virtualizedLiOptionSelector,
  $virtualizedOptionsSelector
) {
  @media only screen and (max-width: 768px) {
    #{$selectSelector} {
      & .wrapper-options {
        position: fixed !important;
        transform: translate(-50%, -50%);

        @apply w-[70%] border-0 max-w-[350px] mx-auto mt-0 top-[50%] left-[50%];

        & #{$optionsSelector},
        & #{$virtualizedOptionsSelector} {
          @apply h-full shadow-xl;
        }

        & #{$liOptionSelector},
        & #{$virtualizedLiOptionSelector} {
          & > #{$optionSelector},
          & > #{$virtualizedOptionSelector} {
            @apply text-[1.25rem] border-b-gray-300 px-5 py-3 dark:border-gray-500;

            &::last-of-type {
              @apply border-b;
            }
          }
        }
      }
    }
  }
}

@mixin mq-fix-width-select($selectSelector, $optionSelector, $virtualizedOptionSelector) {
  @media only screen and (max-width: 480px) {
    #{$selectSelector} {
      & .wrapper-options {
        width: 80%;
      }

      & #{$optionSelector},
      & #{$virtualizedOptionSelector} {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    #{$selectSelector} {
      & .wrapper-options {
        width: 90%;
      }

      & #{$optionSelector},
      & #{$virtualizedOptionSelector} {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
      }
    }
  }
}
